@model eShift.Models.Driver

@{
    ViewData["Title"] = "Create Driver";
}

<h2>Create Driver</h2>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label> 
                <input asp-for="DriverName" class="form-control" /> 
                <span asp-validation-for="DriverName" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="DriverLicensenum" class="control-label"></label> 
                <input asp-for="DriverLicensenum" class="form-control" /> 
                <span asp-validation-for="DriverLicensenum" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="DriverPhone" class="control-label"></label> 
                <input asp-for="DriverPhone" class="form-control" /> 
                <span asp-validation-for="DriverPhone" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}