@model eShift.Models.Driver

@{
    ViewData["Title"] = "Edit Driver";
}

<h2>Edit Driver</h2>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="DriverId" />

            <div class="form-group">
                <label class="control-label">Driver ID</label>
                
                <input asp-for="DriverId" class="form-control" readonly />
            </div>
            

            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                
                <input asp-for="DriverName" class="form-control" />
               
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverLicensenum" class="control-label"></label>
                
                <input asp-for="DriverLicensenum" class="form-control" />
                
                <span asp-validation-for="DriverLicensenum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverPhone" class="control-label"></label>
                
                <input asp-for="DriverPhone" class="form-control" />
                
                <span asp-validation-for="DriverPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form> 
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}