@model eShift.Models.Job
<div asp-validation-summary="All" class="text-danger"></div>
@{
    ViewData["Title"] = "Create Job";
}

<h2>Create Job</h2>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <select asp-for="CustId" class="form-control" asp-items="ViewBag.CustId">
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="CustId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PickupLocation" class="control-label"></label>
                <input asp-for="PickupLocation" class="form-control" />
                <span asp-validation-for="PickupLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeliveryLocation" class="control-label"></label>
                <input asp-for="DeliveryLocation" class="form-control" />
                <span asp-validation-for="DeliveryLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" type="date" class="form-control" /> 
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input asp-for="ScheduledDate" type="date" class="form-control" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" type="date" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobStatus" class="control-label"></label>
                <select asp-for="JobStatus" class="form-control" asp-items="ViewBag.JobStatusOptions">
                    <option value="">-- Select status --</option>
                </select>
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}